.video_pos{
    position: absolute;
    -o-transform: scale(0.4, 0.4);
    -ms-transform: scale(0.4, 0.4);
    -moz-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    transform-origin: 0 0;
}

